<div class="about-me-section">
    <div class="row">
        <div class="col s6 m2 offset-s3 offset-m5">
            <img class="responsive-img circle" src="app/assets/profile.png">
        </div>
    </div>
    <h2><b>I'm Zach Jones.</b></h2>
    <div class="row">
        <div class="col s10 m6 offset-s1 offset-m3">
            <p class="flow-text">I'm a <b>computer scientist</b> and <b>mathematician</b> enrolled in the MSAI program
                at the University of Georgia.
                My main interests include reinforcement learning, machine learning, artificial intelligence, and software development.
                Feel free to click around and learn more about me.</p>
        </div>
    </div>
</div>