<div class="about-me-section">
    <div class="row">
        <div class="col s6 m2 offset-s3 offset-m5">
            <img class="responsive-img circle" src="app/assets/profile.png">
        </div>
    </div>
    <h2><b>Zach Jones</b></h2>
    <h4>Welcome to my site!</h4>
    <div class="row">
        <div class="col s10 m6 offset-s1 offset-m3">
            <p class="flow-text">I'm a <b>computer scientist</b> and <b>mathematician</b> working as a graduate assistant
                at the University of Georgia's Institute for Artificial Intelligence.
                My main interests include machine learning, reinforcement learning, artificial intelligence, and software development.
                Feel free to click around and learn more about me.</p>
        </div>
    </div>
</div>