<div class="row">
    <div class="col s12 m10 offset-m1">
        <h3 class="orange-text">Current Projects</h3>
        <hr class="horizontal-line-theme1">

        <div class="row">
            <div class="col m2 offset-m1 hide-on-small-and-down">
                <img src="app/assets/au.png" class="responsive-img" style="vertical-align: middle"/>
            </div>
            <div class="col s12 m9">
                <h4>Auburn University REU - See and Avoid for Smart UAVs</h4>
                <hr class="horizontal-line-theme2">
                <p class="flow-text">
                    I worked with <a href="http://asmorgan.people.ysu.edu/">Andy Morgan</a> at the Summer 2016 REU
                    with Smart UAVs at Auburn University.  We developed a See-and-Avoid system for autonomous UAVs using C/C++.  The system is
                    divided into two components.  The first is a test bed consisting of a simulation of a front-facing camera.
                    The simulation is built with OpenGL.  The second component is a visible-light based collision detection and
                    avoidance system.  Objects in the FOV of the UAV are detected using a vision algorithm developed with OpenCV.
                    If an object is determined to be a threat, an avoidance maneuver will be attempted.
                </p>
                <p class="flow-text">
                    You can follow our progress <a href="https://bitbucket.org/uav_see_and_avoid/see-and-avoid/overview" target="_blank">
                    on the Bitbucket repository</a>.  You can also read the <a href="app/assets/saa-paper.pdf" target="_blank">
                    paper</a> describing our research.  We also post test videos and flight simulations on
                    <a href="https://www.youtube.com/channel/UCq-et9kizVsIi95PNkdn7eA">this Youtube channel</a>.
                </p>
            </div>

            <div class="col offset-s1 s11">
                <h4>Demolition Game</h4>
                <hr class="horizontal-line-theme2">
                <p class="flow-text">
                    Over the summer, I'm working on a physics-puzzler-tycoon game for mobile platforms.  In the game,
                    you will play as the owner of a demolition company.  Buy supplies and bid on contracts to make money
                    and become a demolition magnate!
                </p>
                <p class="flow-text">
                    Check back every few weeks for important news and release dates.  I'm hoping to complete a prototype of the
                    game by the end of Summer 2016.  Beta testers and assistant coders are needed.  Please <a ui-sref="app.contact">
                    contact me</a> if you're interested in helping out!
                </p>
            </div>

            <div class="col offset-s1 s11">
                <h4>The Dead Frets Radio</h4>
                <hr class="horizontal-line-theme2">
                <p class="flow-text">
                    I'm currently developing a cross-platform mobile app for the Dead Frets, a local band from Huntington, WV.
                    The app will allows users to download some of the latest TDF songs for free and listen to them anytime!
                </p>
                <p class="flow-text">
                    Check back every few weeks for important news and release dates
                </p>
            </div>
        </div>

    </div>

    <div class="col s12 m10 offset-m1">
        <h3 class="purple-text text-lighten-2">Recent Projects</h3>
        <hr class="horizontal-line-theme3">

        <div class="row">
            <div class="col offset-s1 s11">
                <h4>Chemical Concentration Simulator</h4>
                <hr class="horizontal-line-theme3">
                <p class="flow-text">
                    The DOW Chemical Company and NASA Undergraduate Research grant funded a research project to build
                    a simple simulation capable of providing business and political leaders quick and understandable
                    information about the threat posed by a chemical spill.  The application has since been taken over by
                    Mark Adkins and awaits future improvements.
                </p>
                <p class="flow-text">
                    You can follow the evolution of the project <a href="https://bitbucket.org/mu_chemical_spill_sim/dow_mvc">here</a>.
                    The <a href="http://chemical-concentration.apphb.com/">application itself</a> is live and
                    publicly available.  It's hosted on a free platform and thus may take a few seconds to spin up.
                </p>
            </div>

            <div class="col offset-s1 s11">
                <h4>SCRATCH Learning Tool</h4>
                <hr class="horizontal-line-theme3">
                <p class="flow-text">
                    A local group of volunteers educate underprivileged children on sustainable gardening.
                    I was lead developer on a year-long project to develop a suite of tools that would allow educators
                    to assess the learning progress of low-literacy children using fun, web-based games.
                </p>
                <p class="flow-text">
                    We developed a RESTful Web API in ASP.NET as well as a front-end web interface for teachers and students
                    using AngularJS.  The games were written with the Phaser HTML5 game framework.
                </p>
            </div>

            <div class="col offset-s1 s11">
                <h4>Monte Carlo Tennis Predictor</h4>
                <hr class="horizontal-line-theme3">
                <p class="flow-text">
                    As part of the MTH411 - Mathematical Modeling course at Marshall University, I developed a piece of software
                    that attempts to predict the outcome of tennis matches using a Monte Carlo simulation with a Markov Chain.
                </p>
                <p class="flow-text">
                    For more information, see the <a href="https://github.com/zachdj/monte-carlo-tennis">GitHub</a> repository.
                </p>
            </div>
        </div>

    </div>

    <hr class="horizontal-line-white">

    <div class="col s12 center-align">
        <h6>Want to see more of my work?</h6>
        <h5><a ui-sref="app.contact">Contact me</a></h5>
    </div>
</div>
<br><br>

