<div class="row">

    <div class="col offset-m1 m7 s12">
        <!--Spacer-->
        <div style="height: 25px"></div>

        <object data="app/assets/resume.pdf" type="application/pdf" width="100%" height="800px">
            <p>It appears you don't have a PDF plugin for this browser. No problem!
                You can <a href="app/assets/resume.pdf">click here to
                download a PDF file.</a></p>
        </object>

    </div>
    <div class="col offset-m1 m2 s12">
        <h3>Links</h3>
        <hr class="horizontal-line-orange">
        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text" href="app/assets/resume.pdf" target="_blank">
                <i class="material-icons left valign">description</i>
                <div class="valign">Resume</div>
            </a>
        </div>
        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text" ng-click="goToPortfolio()">
                <i class="material-icons left valign">work</i>
                <div class="valign">Portfolio</div>
            </a>
        </div>

        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text"
               href="https://github.com/zachdj" target="_blank">
                <i class="socicon-github left valign"></i>
                <div class="valign">Github</div>
            </a>
        </div>

        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text"
            href="https://bitbucket.com/zachydj" target="_blank">
                <i class="material-icons left valign">group_work</i>
                <div class="valign">Bitbucket</div>
            </a>
        </div>



        <h3>Projects</h3>
        <hr class="horizontal-line-theme4">
        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text"
               href="https://bitbucket.org/uav_see_and_avoid/see-and-avoid/overview" target="_blank">
                <i class="material-icons left valign">remove_red_eye</i>
                <div class="valign">UAV See and Avoid</div>
            </a>
        </div>
        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text"
               href="https://bitbucket.org/mu_chemical_spill_sim/dow_mvc" target="_blank">
                <i class="material-icons left valign">opacity</i>
                <div class="valign">Chemical Spill Sim</div>
            </a>
        </div>
        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text"
               href="https://bitbucket.org/mu_cs305/jmg-web-app" target="_blank">
                <i class="material-icons left valign">book</i>
                <div class="valign">SCRATCH Learning Tool</div>
            </a>
        </div>
        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text"
               href="https://bitbucket.org/zachydj/demolition-game" target="_blank">
                <i class="material-icons left valign">games</i>
                <div class="valign">Demolition Game</div>
            </a>
        </div>


    </div>
</div>

<br><br>
