<div class="row">

    <div class="col offset-m1 m7 s12">
        <h3>Resume</h3>
        <hr class="horizontal-line-orange">
        <!------------------------------  Employment ------------------------------------------------------>
        <div class="row">
            <div class="col s12 m3 orange-text">
                <h5 class="hide-on-med-and-up underline-theme1">Employment</h5>
                <h5 class="hide-on-small-and-down">Employment</h5>
            </div>
            <div class="col s12 m9 white-text resume-section-content row">
                <div class="col s12 row" ng-repeat="job in employment">
                    <div class="col s12 m8">
                        <h5><b>{{job.name}}</b></h5>
                        <h6 class="grey-text hide-on-small-and-down">{{job.title}}</h6>
                    </div>
                    <div class="col s12 m4">
                        <span class="grey-text hide-on-med-and-up">{{job.title}}</span>
                        <date-range start="job.startDate" end="job.endDate"></date-range>
                        <!--<b class="right">{{job.startDate | date: "MMM yyyy" }} - {{job.endDate? (job.endDate | date: "MMM yyyy") : "Present" }}</b>-->
                    </div>
                    <div class="col s12">
                        <div ng-repeat="section in job.description">
                            {{section}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------------  Experience ------------------------------------------------------>
        <div class="row">
            <div class="col s12 m3 orange-text text-lighten-3">
                <h5 class="hide-on-med-and-up underline-theme2">Experience</h5>
                <h5 class="hide-on-small-and-down">Experience</h5>
            </div>
            <div class="col s12 m9 white-text resume-section-content-2 row">
                <div class="col s12 row" ng-repeat="position in experience">
                    <div class="col s12 m8">
                        <h5><b>{{position.name}}</b></h5>
                        <h6 class="grey-text hide-on-small-and-down">{{position.title}}</h6>
                    </div>
                    <div class="col s12 m4">
                        <span class="grey-text hide-on-med-and-up">{{position.title}}</span>
                        <date-range start="position.startDate" end="position.endDate"></date-range>
                    </div>
                    <div class="col s12">
                        <div ng-repeat="section in position.description">
                            {{section}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------------  Education ------------------------------------------------------>
        <div class="row">
            <div class="col s12 m3 purple-text text-lighten-2">
                <h5 class="hide-on-med-and-up underline-theme3">Education</h5>
                <h5 class="hide-on-small-and-down">Education</h5>
            </div>
            <div class="col s12 m9 white-text resume-section-content-3 row">
                <div class="col s12 row" ng-repeat="school in education">
                    <div class="col s12 m8">
                        <h5><b>{{school.name}}</b></h5>
                    </div>
                    <div class="col s12 m4">
                        <date-range start="school.startDate" end="school.endDate"></date-range>
                    </div>
                    <div class="col s12">
                        <div ng-repeat="section in school.description">
                            {{section}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------------  Skills ------------------------------------------------------>
        <div class="row">
            <div class="col s12 m3 purple-text">
                <h5 class="hide-on-med-and-up underline-theme4">Skills</h5>
                <h5 class="hide-on-small-and-down">Skills</h5>
            </div>
            <div class="col s12 m9 white-text resume-section-content-4 row">
                <div ng-repeat="(key, value) in skills">
                    <h5><b>{{key}}</b></h5>
                    <div ng-repeat="section in value">
                        {{section}}
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="col offset-m1 m2 s12">
        <h3>Links</h3>
        <hr class="horizontal-line-orange">
        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text" href="app/assets/resume.pdf" target="_blank">
                <i class="material-icons left valign">description</i>
                <div class="valign">Resume</div>
            </a>
        </div>
        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text" ng-click="goToPortfolio()">
                <i class="material-icons left valign">work</i>
                <div class="valign">Portfolio</div>
            </a>
        </div>

        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text"
               href="https://github.com/zachdj" target="_blank">
                <i class="socicon-github left valign"></i>
                <div class="valign">Github</div>
            </a>
        </div>

        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text"
            href="https://bitbucket.com/zachydj" target="_blank">
                <i class="material-icons left valign">group_work</i>
                <div class="valign">Bitbucket</div>
            </a>
        </div>



        <h3>Projects</h3>
        <hr class="horizontal-line-theme4">
        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text"
               href="https://bitbucket.org/uav_see_and_avoid/see-and-avoid/overview" target="_blank">
                <i class="material-icons left valign">remove_red_eye</i>
                <div class="valign">UAV See and Avoid</div>
            </a>
        </div>
        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text"
               href="https://bitbucket.org/mu_chemical_spill_sim/dow_mvc" target="_blank">
                <i class="material-icons left valign">opacity</i>
                <div class="valign">Chemical Spill Sim</div>
            </a>
        </div>
        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text"
               href="https://bitbucket.org/mu_cs305/jmg-web-app" target="_blank">
                <i class="material-icons left valign">book</i>
                <div class="valign">SCRATCH Learning Tool</div>
            </a>
        </div>
        <div class="row">
            <a class="col s12 btn btn-block valign-wrapper waves-effect waves-light transparent white-text"
               href="https://bitbucket.org/zachydj/demolition-game" target="_blank">
                <i class="material-icons left valign">games</i>
                <div class="valign">Demolition Game</div>
            </a>
        </div>


    </div>
</div>

<br><br>
